body {
  margin:0px;
  padding:0px;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width:10px;
}

::-webkit-scrollbar-track{
  width:100%;
  background-color:transparent;
}

::-webkit-scrollbar-thumb{
  background-color:rgba(251, 174, 74, 0.56);
  outline:none;
  border-radius: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
